* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: inline-flex;
  background-color: #b4b4b4;
  padding: 25px;
  width: 100%;
  justify-content: space-evenly;
  border: 1px solid black;
}

nav a {
  text-decoration: none;
  width: 210px;
  color: white;
  text-align: center;
}

nav a:hover {
  background-color: #787878;
}

.latest-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 500px);
  border: 1px solid black;
}

.articles {
  display: flex;
  justify-content: center;
  grid-column: 1 / span 2;
  grid-row: 1;
  z-index: 1;
}

.latest-articles h1,
h3 {
  color: lightgrey;
  padding-left: 30px;
}

.article-one {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #7a7a7a;
}

.article-two {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #808080;
}

.article-three {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #787878;
}

.article-four {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #7a7a7a;
}

.content-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat (4, 500px);
  grid-row-gap: 50px;
  grid-column-gap: 20px;
  padding-top: 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  background-color: #b4b4b4;
  justify-content: center;
  border: 1px solid black;
}

.content-bar .content1 {
  grid-column: 1;
  grid-row: 1;
}

.content-bar .content2 {
  grid-column: 2;
  grid-row: 1;
}

.content-bar .content3 {
  grid-column: 3;
  grid-row: 1;
}

.content-bar .content4 {
  grid-column: 1;
  grid-row: 2;
  font-size: 12px;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.content-bar .content5 {
  grid-column: 2;
  grid-row: 2;
  background-color: #787878;
  padding: 20px;
}

.content-bar .content6 {
  grid-column: 3;
  grid-row: 2;
}

.content-bar .content7 {
  grid-column: 1;
  grid-row: 3;
}

.content-bar .content8 {
  grid-column: 2;
  grid-row: 3;
}

.content-bar .content9 {
  grid-column: 3;
  grid-row: 3;
}

.content-bar .advert {
  grid-column: 1 / span 3;
  grid-row: 4;
  width: 1200px;
  height: 400px;
  border: 2px solid grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 75px;
  padding-left: 300px;
  padding-right: 300px;
  background-color: #787878;
  border-radius: 7px;
}

.content-bar .see-all {
  font-size: 12px;
  display: flex;
  justify-content: center;
  grid-column: 2;
}

.ethical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  padding-left: 300px;
  padding-right: 300px;
  line-height: 40px;
  background-color: #808080;
  border: 1px solid black;
}

footer p {
  text-align: center;
  margin-left: -25px;
}

.ethical p {
  text-align: center;
}

.ethical .color {
  color: lightgrey;
}

.second-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 150px);
  background-color: #b4b4b4;
  padding-top: 50px;
  padding-left: 50px;
  grid-column-gap: 50px;
  border: 1px solid black;
}

.person {
  grid-column: 1 / span 2;
  grid-row: 1;
  padding-left: 250px;
  padding-right: 100px;
}

.avoiding {
  grid-column: 1;
  grid-row: 2;
}

.html-quote {
  grid-column: 2;
  grid-row: 2;
}

.css-attribute {
  grid-column: 1;
  grid-row: 3;
}

.chrome {
  grid-column: 2;
  grid-row: 3;
}

.subfont {
  grid-column: 1;
  grid-row: 4;
}

.second-content h3 {
  color: black;
}

.design-systems {
  height: 200px;
  padding-left: 100px;
  padding-top: 50px;
  padding-right: 400px;
  background-color: #787878;
  border: 1px solid black;
}

.guides {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 300px);
  background-color: #b4b4b4;
  border: 1px solid black;
}

.guides h3 {
  padding-left: -50px;
}

.guides .guide1,
.guide2,
.guide3,
.guide4,
.guide-advert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 25px;
}

.guides .guide-advert {
  grid-column: 2 / span 2;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #787878;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 30px;
  margin-bottom: -70px;
}

.guides .see-all-articles {
  grid-column: 1 / span 3;
  grid-row: 3;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer {
  line-height: 30px;
  grid-column: 1 / span 3;
  grid-row: 4 / span 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #787878;
  padding-left: 20px;
  border: 1px solid black;
}

.footer-list {
  word-spacing: 10px;
}
